/*-------------------------------------*\
    COLORS
\*-------------------------------------*/

/**
 * Colors 
 * 
 * All the global colors used throughout
 * 
 **
 * Base
 * 
 * 
 
    [lightest]  [brightest]
    [lighter]   [brighter]
    [light]     [bright]
        --- base ---
    [dark]      [dull]
    [darker]    [duller]
    [darkest]   [dullest]

 * 
 * Name Pattern:
 *  c-[name]--[modifier]
 * 
 */ 
 


/*-------------------------------------*\
    Base Colors
\*-------------------------------------*/

/*---   Blues   ---*/

$c-blue--light:     #81dcf7; 
$c-blue:            #8bd0e4; 
$c-blue--dark:      #5496a8; 

$c-blue--bright:    #27a6c9;



/*---   Grays   ---*/

$c-gray--light:     #fafafa;





/*-------------------------------------*\
    Site Colors
\*-------------------------------------*/

$c-body:        #fff; 
$c-text:        #000;

$c-selection:   #fff;
$c-selection__bg:   #ff8699;

$c-logo:        #e5e5e5;
$c-title:       #2e2e2e;
$c-post__title: #3e3e3e;

$c-footer:      #fff1ad;

$c-border:          #e6e6e6;
$c-border--dark:    #c9c9c9;
 




