/*-------------------------------------*\
    POST TIME
\*-------------------------------------*/

/**
 * Post Time
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */


%post-time {
    font-family: $f-ptCap;
    margin-bottom: unit();
    text-indent: 0 !important; // Fix this later
}





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.post-time { @extend %post-time !optional; }





