/*-------------------------------------*\
    POST
\*-------------------------------------*/

/**
 * Post
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

%post {

    p {
        text-indent: 4em;
        margin-bottom: 0;

        &:last-of-type {
            margin-bottom: unit();
        }
    }
}

    %post--separated {
        border-bottom: 2px solid $c-border;
    }

    %post__footer {
        padding-top: unit();
        border-top: 2px solid $c-border;
    }





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.post { @extend %post !optional; }

    .post--separated { @extend %post--separated !optional; }
    .post__footer { @extend %post__footer !optional; }





