/*-------------------------------------*\
    Settings
\*-------------------------------------*/

/**
 *  
 * 
 **
 * Base
 * Implementation
 * 
    
 * 
 */ 
 

$max-site-width: 960px;

$base-font-size:    16px;
$base-line-height:  1.618;

$unit: $base-font-size * $base-line-height;

@function unit($ratio: 1) {
    @return $unit * $ratio;
}


/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

/*---   Inuit CSS settings   ---*/

$inuit-base-font-size:      $base-font-size;
$inuit-base-line-height:    $unit;
$inuit-base-spacing-unit:   $unit;

$inuit-enable-margins:          true;
$inuit-enable-margins--none:    true;
$inuit-enable-paddings:         true;
$inuit-enable-paddings--small:  true;
$inuit-enable-paddings--tiny:   true;
$inuit-enable-paddings--none:   true;

// Color settings taken from colors in quarks/_colors.scss
$inuit-base-text-color:     $c-text;
$inuit-base-background-color:     $c-body;

html {
    font-family: $f-openSans;
}





