/*-------------------------------------*\
    SITE CONTACT INFO
\*-------------------------------------*/

/**
 * Site Contact Info 
 * 
 **
 * Base
 * Implementation
 * 
    
 * 
 */ 
 

%site__contact-info {
    padding-left: unit(.5);
    position: absolute;
    top: 0;
    right: 0;

    border-left: 1px solid $c-border;
}





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/

.site__contact-info { @extend %site__contact-info !optional; }
